html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", type='text/javascript')
    script(src="test_client.js", type='text/javascript')
  body
    h3 RDR TEST CLIENT PAGE
    input(type='button', id='create_user', value='Create User')
    input(type='button', id='check_in', value='Check-In')
    input(type='button', id='refresh_user_list', value='Refresh Users')
    input(type='button', id='create_establishment', value='Create Establishment')
    div(style="clear:both")
    #user_list(style="float:left; width:350px")
    #output(style="float:right;")
